In [1]:
"""
날짜 : 2023/01/03
이름 : 김현준
내용 : 파이썬 반복문 for 실습하기
"""

'\n날짜 : 2023/01/03\n이름 : 김현준\n내용 : 파이썬 반복문 for 실습하기\n'

In [4]:
# for
for i in range(5):
    print('i :', i)

for j in range(10, 20):
    print('j : ',j)

for k in range(10, 0, -1):
    print('k : ',k)

i : 0
i : 1
i : 2
i : 3
i : 4
j :  10
j :  11
j :  12
j :  13
j :  14
j :  15
j :  16
j :  17
j :  18
j :  19
k :  10
k :  9
k :  8
k :  7
k :  6
k :  5
k :  4
k :  3
k :  2
k :  1

In [9]:
# 1부터 10까지 합
total = 0

for k in range(11):
    total += k

    print('1부터 10까지 합 : ', total)

1부터 10까지 합 :  0
1부터 10까지 합 :  1
1부터 10까지 합 :  3
1부터 10까지 합 :  6
1부터 10까지 합 :  10
1부터 10까지 합 :  15
1부터 10까지 합 :  21
1부터 10까지 합 :  28
1부터 10까지 합 :  36
1부터 10까지 합 :  45
1부터 10까지 합 :  55

In [11]:
# 1부터 10까지 짝수 합

total = 0

for k in range(11):
    if k % 2 ==0:
        total += k
        print('1부터 10까지 짝수합', total)

1부터 10까지 짝수합 0
1부터 10까지 짝수합 2
1부터 10까지 짝수합 6
1부터 10까지 짝수합 12
1부터 10까지 짝수합 20
1부터 10까지 짝수합 30

In [16]:
# 중첩 for
for a in range(2):
    print('a : ', a)
    for b in range(3):
        print('b : ', b)
        for c in range(4):
            print('c : ',c)

a :  0
b :  0
c :  0
c :  1
c :  2
c :  3
b :  1
c :  0
c :  1
c :  2
c :  3
b :  2
c :  0
c :  1
c :  2
c :  3
a :  1
b :  0
c :  0
c :  1
c :  2
c :  3
b :  1
c :  0
c :  1
c :  2
c :  3
b :  2
c :  0
c :  1
c :  2
c :  3

In [18]:
# 구구단 출력
for x in range(2, 10):
    print('x : ', '단')
    for y in range(1, 10):
        z = x*y
        print('{} * {} = {}'.format(x, y, z))

x :  단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
x :  단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
x :  단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
x :  단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
x :  단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
x :  단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
x :  단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
x :  단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [24]:
# 별 삼각형
for start in range(1, 11):
    for end in range(start):
        print('*', end='')

    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [22]:
for i in range(11):
    print('*' * i)

*
**
***
****
*****
******
*******
********
*********
**********