In [3]:
"""
날짜 : 2023/01/13
이름 : 김현준
내용 : 파이썬 데이터베이스 프로그래밍 실습
pip pymysql
"""
import pymysql

In [7]:
# Insert 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java1db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "insert into `user1` values ('p101', '1234', '파이썬', '010-1234-1001', 17)"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Insert 완료...')

Insert 완료...

In [12]:
# Update 실습
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java1db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "update `user1` set "
sql += "`name`='홍길동',"
sql += "`hp`='010-1111-2222',"
sql += "`age`=27 "
sql += "where `uid`='p101';"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Update 완료...')

Update 완료...

In [10]:
# Delete 실습
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java1db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "delete from `user1` where `uid`='p101';"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Delete 완료...')

Delete 완료...

In [11]:
# Select 실습
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java1db', 
                        charset='utf8')

cur = conn.cursor()

sql = "select * from `user1`"
cur.execute(sql)
conn.commit()

# 데이터 출력
for row in cur.fetchall():
    print('---------------')
    print('아이디 :', row[0])
    print('비밀번호 :', row[1])
    print('이름 :', row[2])
    print('휴대폰 :', row[3])
    print('나이 :', row[4])

conn.close()
print('Select 완료...')

---------------
아이디 : et002727
비밀번호 : 1234
이름 : 김현준
휴대폰 : 010-1234-5678
나이 : 25
---------------
아이디 : a1005
비밀번호 : 2134
이름 : 가가가가가가
휴대폰 : 010-2121-1010
나이 : 25
---------------
아이디 : a101
비밀번호 : 1234
이름 : 김유신
휴대폰 : 010-1111-1111
나이 : 70
---------------
아이디 : a102
비밀번호 : None
이름 : 김춘추
휴대폰 : 010-2222-2222
나이 : 37
---------------
아이디 : a103
비밀번호 : None
이름 : 강감찬
휴대폰 : 010-3333-3333
나이 : 24
---------------
아이디 : c101
비밀번호 : None
이름 : 몰라용
휴대폰 : 010-9999-9999
나이 : 16
---------------
아이디 : qwerty999
비밀번호 : None
이름 : 김현민
휴대폰 : 010-8535-5267
나이 : 24
---------------
아이디 : qwerty888
비밀번호 : None
이름 : 박준현
휴대폰 : 010-4632-4823
나이 : 29
Select 완료...